<div class="item-detail">
    <div class="item-index">
        {{index}}
    </div>
    <div class="item-content">
        {{item}}
    </div>
    <button class="item-close-icon" {{action "deleteItem" item}}>X</button>
</div>

{{yield}}