html, body {
    padding: 0;
    margin: 0;
}

.todo-container {
    margin-top: 50px;
    width: 400px;
    margin-left: auto;
    margin-right: auto; 
}

.add-item input {
    width: 295px;
    border: 1px solid #c2c2c2;
    height: 40px;
    padding-left: 10px;
    color: gray;
    box-sizing: border-box;
}
.add-item button {
    width: 100px;
    height: 40px;
    border: none;
    border-left: none;
    background-color: #1E9EFF;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
}
/* ========================================== */    
.item-detail {
    width: 400px;
    height: 40px;
    position: relative;
    border-top: 1px solid #c2c2c2;
}
.item-detail + .item-detail {
    border-top: none;
}
.item-list {
    margin-top: 20px;
    border-bottom: 1px solid #c2c2c2;
}
.item-index {
    display: inline;
    line-height: 40px;
    padding: 2px 8px 2px 10px;
    background-color: #1E9EFF;
    border: 1px solid #1e9fff;
    color: white;
    border-radius: 10px;
}
.item-content {
    display: inline;
    line-height: 40px;
    padding-left: 10px;
    overflow: auto;
}
.item-close-icon {
    position: absolute;
    right: 0px;
    height: 30px;
    width: 30px;
    margin-top: 5px;
    background-color: #1e9fff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}